<%= simple_form_for @item do |f|%>

<div class="field">
  <div class="control">
    <label class="label">Name </label>
    <%= f.input :name, label: false%>
  </div>
</div>

<div class="field">
  <div class="control">
     <label class="label">Brand </label>
    <%= f.input :brand, label: false %>
   </div>
</div>

<div class="field">
  <div class="control">
    <label class="label">Category </label>
    <%= f.input_field :category, collection: Item::CATEGORY, prompt: "Select Category"%>
    </div>
      </div>
     <div class="field">

       <%= f.button :submit, class: 'button is-primary' %>
      </div>
  <% end %>

</div>

